*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    margin:  0;
    font-family: sans-serif;
    overflow: hidden;
}

.app {
    display: flex;
    transition: transform 0.2s ease-in-out;
}

.view {
    overflow: hidden;
    height: 100vh;
    flex-shrink: 0;
    width: 100vw;
}

.view-header {
    background: white;
    position: relative;
    height: 44px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.view-back {
    font-size: 0.8rem;
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.view-title {
    margin: 0;
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.view-content {
    padding: 14px;
    background: #eee;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.list-items {
    background: white;
    border-radius: 8px;
}

.list-title {
    color: grey;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 8px;
}

.list-item {
    appearance: none;
    border: 0;
    border-bottom: 1px solid #eee;
    background: transparent;
    width: 100%;
    padding: 12px;
    padding-right: 28px;
    text-align: left;
    cursor: pointer;
    position: relative;
    &:last-child {
        border-bottom: 0;
    }
}

.list-item-arrow {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.5;
}

.button {
    border-radius: 8px;
    appearance: none;
    background: black;
    border: 0;
    padding: 12px;
    color: white;
}
