:root {
    --color-0: #000005;
    --color-1: #1C2B53;
    --color-2: #7E2552;
    --color-3: #008750;
    --color-4: #AB5236;
    --color-5: #5F574F; 
    --color-6: #C2C3C7;
    --color-7: #FFF1E8;
    --color-8: #FF004D;
    --color-9: #FFA300;
    --color-10: #FFEC27;    
    --color-11: #00E436;
    --color-12: #2AADFF;
    --color-13: #83769C;
    --color-14: #FF77A8;
    --color-15: #FFCCAA;
}

.color-bg-0 {
    background: var(--color-0) !important;
}

.color-bg-1 {
    background: var(--color-1) !important;
}

.color-bg-2 {
    background: var(--color-2) !important;
}

.color-bg-3 {
    background: var(--color-3) !important;
}

.color-bg-4 {
    background: var(--color-4) !important;
}

.color-bg-5 {
    background: var(--color-5) !important;
}

.color-bg-6 {
    background: var(--color-6) !important;
}

.color-bg-7 {
    background: var(--color-7) !important;
}

.color-bg-8 {
    background: var(--color-8) !important;
}   

.color-bg-9 {
    background: var(--color-9) !important;
}

.color-bg-10 {
    background: var(--color-10) !important;
}

.color-bg-11 {
    background: var(--color-11) !important;
}

.color-bg-12 {
    background: var(--color-12) !important;
}

.color-bg-13 {
    background: var(--color-13) !important;
}

.color-bg-14 {
    background: var(--color-14) !important;
}

.color-bg-15 {
    background: var(--color-15) !important;
}
