.container {
    max-width: 768px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height: 100vh;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
}

.app {
    display: flex;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    max-height: calc(100vh - 63px);
}

.goal {
    background: linear-gradient(#272727, #6f6f6f 8%);
    padding: 12px;
    padding-bottom: 36px;
}

.goal-inner {
    width: 100%;
    background: #303030;
    border-radius: 8px;
    padding: 12px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.status {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    div:nth-child(2) {
        text-align: center;
    }
    div:nth-child(3) {
        text-align: right;
    }
}

.view {
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.view-header {
    background: white;
    position: relative;
    height: 44px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.view-back {
    font-size: 0.8rem;
    appearance: none;
    color: black;
    border: 0;
    background: transparent;
    cursor: pointer;
    padding: 8px;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.view-title {
    margin: 0;
    font-size: 1.1rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.view-content {
    padding: 14px;
    background: #eee;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.list-items {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.list-title {
    color: grey;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    padding-left: 12px;
    padding-bottom: 8px;
}

.list-item {
    appearance: none;
    border: 0;
    border-bottom: 1px solid #eee;
    background: transparent;
    width: 100%;
    padding: 12px;
    font-size: 0.85rem;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: black;
    &:is(button) {
        cursor: pointer;
    }
    &:last-child {
        border-bottom: 0;
    }
}

.list-item-percent {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    transition: background 0.2s ease-in-out;
}

.list-item-arrow {
    opacity: 0.5;
}

.list-item-left {
    display: flex;
    flex: 1;
    align-items: center;
    gap: 8px;
    position: relative;
    .icon {
        margin: -5px 0;
    }
}

.list-item-right {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
}

.icon {
    width: 24px;
    height: 24px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    color: white;
    background: #8f8f8f;
}

.toggle-container {
    position: relative;
    margin: -20px 0;
}

.toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    opacity: 0;
    z-index: 1;
    &:checked + .toggle-slider {
        background: var(--color-11);
        &::before {
            left: 21px;
        }
    }
}

.toggle-slider {
    width: 51px;
    height: 31px;
    cursor: pointer;
    appearance: none;
    border: 1px solid #c1c1c1;
    border-radius: 20px;
    background: #D7D7D7;
    position: relative;
    transition: background 0.1s ease-in-out;
    &::before {
        content: '';
        transition: left 0.1s ease-in-out;
        position: absolute;
        width: 28px;
        height: 28px;
        background: white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.stack {
    display: flex;
    align-items: center;
    gap: 8px;
}